.ReactModalPortal > div {   // this syntax targets divs which are direct decendants of ReactModalPortal
    opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay { // targets a className inside the ReactModalPortal className
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;  // smoother transition.
}
.ReactModalPortal .ReactModal__Overlay--after-open { // transitions from nothing to complete opacity
    opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close { // transitions from opaque to disappear.
    opacity: 0;
}
.modal {
    background: $light-blue;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal__title {
    margin: 0 0 $m-size 0;

}
.modal__body {
    margin: 0 0 $l-size 0;
    font-size: 2rem;
    font-weight: 300;
    word-break: break-all;        // if you have a really wrong word, this will put in a linebreak somewhere so things don't go way to the right.
}